<h3><strong>Question:</strong></h3>
<p><%= @question %></p>

<br><h3><strong>Coach:</strong></h3>
<p><%= @answer %></p>

<!-- <a href="ask_path">Ask another question</a> -->
<%= link_to "Ask another question", ask_path %>

